%li{data: {row: "1", col: "1", sizex: "1", sizey: "1"}}
  .widget.widget-number{id: "widget_#{widget.id}", data: {id: "dashingw#{widget.id}", view: "Number"}}
    %h1.title
      = widget.label_type

    %h2.value{id: "widget_#{widget.id}_value"}

    %p.change-rate
      = widget.labels

    %p.more-info
      = widget.repository

    %p.updated-at{id: "widget_#{widget.id}_time"}
