%div{ class: "bs-callout bs-callout-warning" , style: "margin-top: 0px;"}
  %i{ class: "icon-question-sign" }
    = raw "<b>Honey Badger Fault Widget</b> allows the following customization:"
    %br
    = raw "<b>App Name</b> - Application Name"
    %br
    = raw "<b>Project Id</b> - Represents the project's ID, from Honey Badger DB."
    %br
    = raw "<b>Access Token</b>- Represents"
    = link_to "The Personal Honey Badger Authentication Token (available from your profile page).", "https://app.honeybadger.io/users/edit/", target: "_blank"
