%div{ class: "bs-callout bs-callout-warning" , style: "margin-top: 0px;"}
  %i{ class: "icon-question-sign" }
    = raw "<b>NewRelic Memory Usage Widget</b> allows the following customization:"
    %br
    = raw "<b>Application Name</b> - Represents the app's name."
    %br
    = raw "<b>Application Id</b> - Represents the app's id in NewRelic's database."
    = link_to "Find App Id.", "https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/find-product-id", target: "_blank"
    %br
    = raw "<b>API KEY</b>- Represents the generated"
    = link_to "NewRelic API Key.", "https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/api-keys", target: "_blank"
