.widget.widget-number
  %h1.title
    = "Pull Requests"
  %h2.value
    = "12"
  %p.change-rate
    = "bugs"
    -# %i{"data-bind-class" => "arrow"}
    -# %span{"data-bind" => "difference"}
  %p.more-info
    = "Golf Genius"

  %p.updated-at
    = "Last updated at #{Time.now.strftime("%I:%M%p")}"
